@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    background: none;
}

#hero-section{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #F7F7FF;
    overflow:hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}


.marquee-container {
  position: absolute;
  background: none;
  line-height: 10;
  top: 50%;
  left: 10%;
  width: 200%;
  font-size: 300px;
  transform: translate(-50%, -50%) rotate(-69deg);
  overflow: hidden;
  z-index: 0;
  color: #f7e4e6;
  pointer-events: none;
  white-space: nowrap;
}

.marquee-one{
  top: 50%;
  left: calc(20vh + 15%);
  width: 200%;
  transform: translate(-50%, -50%) rotate(-69deg);
}

.marquee-track {
  display: inline-block;
  animation: scroll-left 120s linear infinite;
}

.marquee-track span {
  display: inline-block;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-right: 100px;
}

.reverse {
  animation-direction: reverse;
  
}

/* Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.introduction{
    margin-left: 10%;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-weight: 800;
    border-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 100px;
    background-color: #f7f7ff11;
    backdrop-filter: blur(4px);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

#name{
    color: #000100;
    font-family: "Martian Mono";
}

#short-name{
    color: #4965F4;
}

#surname{
    display: inline;
    padding-left: 140px;
}

#i-am{
    display: block;
    color: #000100;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;;
    font-size: 40px;
    font-style: normal;
    line-height: 10%;
    padding-left: 8px;
    font-weight: 700;
}

.about{
    position: absolute;
    bottom: 10%;
    right: 5%;
    max-width: 670px;
    font-size: 2rem;
    text-align: right;
    display: flex;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;;
    max-lines: 2;
}


/* For screens 480px wide or less */
@media (max-width: 800px) {
  .introduction {
    display: inline;
    align-self: center;
    font-size: 60px;
    left: 50%;
    max-width: 90vw;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    padding: calc(5% - 20px) calc(8% - 20px);
  }
  
  #name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #surname{
    padding-left: 0px;
  }

  #i-am{
    font-size: 40px;
    justify-self: center;
    line-height: 50%;
  }

  .marquee-container{
    top: 40vh;
    left: 100%;
    width: 200%;
    transform: translate(-50%, -50%) rotate(0deg);
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
    font-size: 200px;
  }

  .marquee-one span{
    margin-right: 10px;
  }

  .marquee-two{
    top: calc(10px + 22vh);
  }

  .about{
    display: inline;
    position: absolute;
    right: 0;
    left: 0;
    top: 50vh;
    transform: translateY(10vh);
    margin: 0 8%;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    
}
}